/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.header .wrapper::before, .user-cart .wrapper::before, .footer-banners::before, .copyright::before, .header .wrapper::after, .user-cart .wrapper::after, .footer-banners::after, .copyright::after {
  content: '';
  display: table;
}

.header .wrapper::after, .user-cart .wrapper::after, .footer-banners::after, .copyright::after {
  clear: both;
}

.wrapper {
  width: 100%;
  max-width: 1675px;
  padding: 0 20px;
  margin: 0 auto;
}

.bc-wrap, .banner, .item-img-src, .mini-img-src, .lb-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-BlackItalic.eot");
  src: url("assets/fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-BlackItalic.woff2") format("woff2"), url("assets/fonts/Montserrat-BlackItalic.woff") format("woff"), url("assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Black.eot");
  src: url("assets/fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-Black.woff2") format("woff2"), url("assets/fonts/Montserrat-Black.woff") format("woff"), url("assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-ThinItalic.eot");
  src: url("assets/fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-ThinItalic.woff2") format("woff2"), url("assets/fonts/Roboto-ThinItalic.woff") format("woff"), url("assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Bold.eot");
  src: url("Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("assets/fonts/Montserrat-Bold.woff") format("woff"), url("assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-ExtraLight.eot");
  src: url("assets/fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("assets/fonts/Montserrat-ExtraLight.woff") format("woff"), url("assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-ExtraBoldItalic.eot");
  src: url("assets/fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("assets/fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-ExtraLightItalic.eot");
  src: url("assets/fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("assets/fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Italic.eot");
  src: url("assets/fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-Italic.woff2") format("woff2"), url("assets/fonts/Montserrat-Italic.woff") format("woff"), url("assets/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-ExtraBold.eot");
  src: url("assets/fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("assets/fonts/Montserrat-ExtraBold.woff") format("woff"), url("assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-BoldItalic.eot");
  src: url("assets/fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-BoldItalic.woff2") format("woff2"), url("assets/fonts/Montserrat-BoldItalic.woff") format("woff"), url("assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-MediumItalic.eot");
  src: url("assets/fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("assets/fonts/Montserrat-MediumItalic.woff") format("woff"), url("assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Regular.eot");
  src: url("assets/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("assets/fonts/Montserrat-Regular.woff") format("woff"), url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Light.eot");
  src: url("assets/fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-Light.woff2") format("woff2"), url("assets/fonts/Montserrat-Light.woff") format("woff"), url("assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-LightItalic.eot");
  src: url("assets/fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-LightItalic.woff2") format("woff2"), url("assets/fonts/Montserrat-LightItalic.woff") format("woff"), url("assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Medium.eot");
  src: url("assets/fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-Medium.woff2") format("woff2"), url("assets/fonts/Montserrat-Medium.woff") format("woff"), url("assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Black.eot");
  src: url("assets/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-Black.woff2") format("woff2"), url("assets/fonts/Roboto-Black.woff") format("woff"), url("assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-SemiBold.eot");
  src: url("assets/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-SemiBold.woff2") format("woff2"), url("assets/fonts/Montserrat-SemiBold.woff") format("woff"), url("assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-ThinItalic.eot");
  src: url("assets/fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-ThinItalic.woff2") format("woff2"), url("assets/fonts/Montserrat-ThinItalic.woff") format("woff"), url("assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-SemiBoldItalic.eot");
  src: url("assets/fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("assets/fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Thin.eot");
  src: url("assets/fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Montserrat-Thin.woff2") format("woff2"), url("assets/fonts/Montserrat-Thin.woff") format("woff"), url("assets/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-BlackItalic.eot");
  src: url("assets/fonts/Roboto-BlackItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-BlackItalic.woff2") format("woff2"), url("assets/fonts/Roboto-BlackItalic.woff") format("woff"), url("assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-BoldItalic.eot");
  src: url("assets/fonts/Roboto-BoldItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-BoldItalic.woff2") format("woff2"), url("assets/fonts/Roboto-BoldItalic.woff") format("woff"), url("assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Italic.eot");
  src: url("assets/fonts/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-Italic.woff2") format("woff2"), url("assets/fonts/Roboto-Italic.woff") format("woff"), url("assets/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Medium.eot");
  src: url("assets/fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-Medium.woff2") format("woff2"), url("assets/fonts/Roboto-Medium.woff") format("woff"), url("assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-MediumItalic.eot");
  src: url("assets/fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-MediumItalic.woff2") format("woff2"), url("assets/fonts/Roboto-MediumItalic.woff") format("woff"), url("assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Light.eot");
  src: url("assets/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-Light.woff2") format("woff2"), url("assets/fonts/Roboto-Light.woff") format("woff"), url("assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-LightItalic.eot");
  src: url("assets/fonts/Roboto-LightItalic.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-LightItalic.woff2") format("woff2"), url("assets/fonts/Roboto-LightItalic.woff") format("woff"), url("assets/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Bold.eot");
  src: url("assets/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-Bold.woff2") format("woff2"), url("assets/fonts/Roboto-Bold.woff") format("woff"), url("assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Regular.eot");
  src: url("assets/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-Regular.woff2") format("woff2"), url("assets/fonts/Roboto-Regular.woff") format("woff"), url("assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Thin.eot");
  src: url("assets/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Roboto-Thin.woff2") format("woff2"), url("assets/fonts/Roboto-Thin.woff") format("woff"), url("assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

.body {
  padding-top: 45px;
  font-family: "Montserrat";
  font-weight: 400;
}

.banner {
  position: relative;
  margin-bottom: 62px;
  min-height: 919px;
  text-align: center;
}

.banner-mens-button {
  cursor: pointer;
  position: absolute;
  bottom: 123px;
  right: 230px;
  color: #454647;
  border: 1px solid #454647;
  background-color: transparent;
  transition: 0.3s;
  padding: 17px 29px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3.5px;
  font-weight: 400;
  text-transform: uppercase;
}

.banner-mens-button:hover {
  border: 1px solid #00c8c8;
  background-color: #00c8c8;
  color: #fff;
  transition: 0.3s;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner {
    min-height: 440px;
  }
  .banner-mens-button {
    bottom: 46px;
    right: 66px;
    padding: 16px 10px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .banner {
    min-height: 220px;
  }
  .banner-mens-button {
    width: 80%;
    bottom: 13px;
    right: 50%;
    transform: translateX(50%);
    padding: 16px 10px;
    font-size: 15px;
  }
}

.items .wrapper {
  max-width: 1628px;
  padding: 51px 20px;
  border-top: 1px solid rgba(114, 114, 114, 0.2);
  border-bottom: 1px solid rgba(114, 114, 114, 0.2);
  font-size: 0;
}

.items-list {
  margin-bottom: 43px;
  display: block;
}

.items-list {
  margin-left: -28px;
  font-size: 0;
}

.item-list-item {
  padding: 0 28px;
  display: inline-block;
  vertical-align: middle;
}

.items-list-link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  color: #727272;
  transition: 0.3s;
  text-transform: uppercase;
  text-decoration: none;
}

.items-list-link:hover {
  color: #00c8c8;
  transition: 0.3s;
}

.tab-open {
  color: #00c8c8;
}

.item-section {
  display: inline-block;
  width: 50%;
  font-size: 0;
}

.item {
  display: inline-block;
  width: 50%;
}

.item-wrap {
  padding: 15px;
}

.item-big {
  width: 100%;
}

.item-img {
  position: relative;
  padding-bottom: 122%;
}

.item-img:hover .overlay-big {
  display: block;
}

.item-img-src {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-img-src::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 128px;
}

.overlay-big {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.item-mini-images {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  background-color: transparent;
}

.mini-img {
  margin: 15px;
  position: relative;
  padding-bottom: 87%;
}

.mini-img-src {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-text {
  z-index: 40;
  padding-top: 15px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.show-overlay {
  display: block;
}

.item-title {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: #575153;
}

.item-subtitle {
  padding-bottom: 15px;
  width: 85%;
  margin: 0 auto;
  color: #575153;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Roboto";
}

.item-link {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  transition: 0.3s;
}

.item-link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.item-link svg {
  height: 40px;
  fill: #fff;
}

.item-icons {
  padding-bottom: 15px;
  font-size: 0;
}

.item-btn {
  position: relative;
  margin: 0 7px;
  padding: 15px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  background-color: #727272;
  transition: 0.3s;
  border-radius: 50%;
  cursor: pointer;
}

.item-btn:hover {
  background-color: #00c8c8;
  transition: 0.3s;
}

.item-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15px;
  fill: #fff;
}

.item-price {
  z-index: 30;
  color: #9a9a9a;
  font-size: 21px;
  line-height: 25px;
  font-weight: 300;
  position: absolute;
  top: 10px;
  left: 15px;
}

.item-price .strike-price {
  text-decoration: line-through;
  padding-right: 15px;
}

.item-price .small-pound {
  font-size: 10px;
  position: absolute;
  top: -3px;
  left: -7px;
}

.item-price .small-pound-sale {
  left: 42px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .items-list {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .item-list-item {
    padding: 0 15px;
  }
  .item-section {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .items-list {
    text-align: center;
  }
  .item-list-item {
    margin-bottom: 10px;
    padding: 0 15px;
  }
  .item-section {
    display: block;
    width: 100%;
  }
  .item {
    display: block;
    width: 100%;
  }
}

.lookbook {
  font-size: 0;
  padding: 60px 0 124px 0;
}

.lb-item {
  padding: 0 20px;
  min-height: 200px;
  text-align: right;
  display: inline-block;
  width: 33.33%;
  vertical-align: middle;
}

.lb-wrap {
  padding: 91px 28px 140px 0;
  height: 100%;
  width: 100%;
}

.lb-title {
  padding-bottom: 15px;
  color: #575153;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 55px;
  font-weight: 300;
}

.lb-title .lb-span {
  display: block;
  font-weight: 700;
}

.lb-text {
  padding-bottom: 27px;
  width: 55%;
  margin-left: 45%;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 22px;
  font-weight: 400;
}

.lb-btn {
  display: inline-block;
  cursor: pointer;
  color: #454647;
  border: 1px solid #454647;
  background-color: transparent;
  transition: 0.3s;
  padding: 19px 30px;
  font-size: 16px;
  letter-spacing: 3.5px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.lb-btn:hover {
  border: 1px solid #00c8c8;
  background-color: #00c8c8;
  color: #fff;
  transition: 0.3s;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .lb-item {
    padding: 10px 20px;
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .lb-item {
    padding: 10px 20px;
    display: block;
    width: 100%;
  }
  .lb-wrap {
    padding: 38px 0px;
  }
}

.header {
  position: fixed;
  background-color: transparent;
  transition: 0.3s;
  top: 45px;
  left: 0;
  padding: 41px 0 25px 0;
  z-index: 100;
  width: 100%;
  transition: 0.3s;
}

.user-cart {
  background-color: #333333;
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
}

.user-cart .wrapper {
  max-width: 1357px;
}

.user-select {
  position: relative;
}

.cart-button {
  border: 0;
  color: #fff;
  background-color: #00c8c8;
  padding: 13px 42px 14px 67px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.cart-basket {
  position: absolute;
  top: 13px;
  left: 21px;
  height: 19px;
  fill: #fff;
}

.cart-arrow {
  position: absolute;
  top: 19px;
  right: 25px;
  height: 8px;
  fill: #fff;
}

.currency-form {
  padding: 12px 0;
  float: left;
}

.right-cart {
  float: right;
  position: relative;
}

.curr-label {
  color: #9a9a9a;
  font-weight: 600;
  font-size: 13px;
  font-weight: 600;
  line-height: 21px;
}

.currency-select {
  cursor: pointer;
  color: #9a9a9a;
  background-color: transparent;
  border: 0;
  font-size: 13px;
  font-weight: 600;
}

.sign-in {
  margin-right: 75px;
}

.register {
  margin-right: 24px;
}

.sign-in, .register {
  color: #9a9a9a;
  transition: 0.3s;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.sign-in:hover, .register:hover {
  color: #00c8c8;
  transition: 0.3s;
}

.logo-link {
  opacity: 1;
  transition: 0.3s;
  margin-top: -4px;
  float: left;
}

.logo-link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.logo-img {
  transition: 0.3s;
}

.navigation {
  padding-right: 144px;
  float: right;
}

.nav-list {
  font-size: 0;
}

.sub-nav {
  z-index: 100;
  font-size: 0;
  padding: 30px;
  width: 466px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  display: none;
  box-shadow: 0px 23px 30px 8px #727272;
}

.formal, .casuals {
  display: inline-block;
  vertical-align: top;
}

.formal {
  width: 42%;
}

.casuals {
  width: 58%;
}

.sub-title {
  padding-bottom: 29px;
  display: block;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #575153;
}

.sub-item {
  padding-bottom: 16px;
}

.sub-link {
  display: inline-block;
  color: #727272;
  transition: 0.3s;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}

.sub-link:hover {
  color: #00c8c8;
  transition: 0.3s;
}

.sub-nav-sale {
  margin-top: 45px;
  padding: 54px 0;
  text-align: center;
  background-color: #333333;
}

.sub-nav-sale-title {
  color: #fff;
  letter-spacing: 1.5px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
}

.sub-nav-sale-span {
  display: block;
  font-weight: 400;
}

.nav-item {
  position: relative;
  margin: 0 27px;
  display: inline-block;
}

.nav-item:hover .nav-arrow {
  fill: #00c8c8;
}

.nav-item:hover .nav-link {
  color: #00c8c8;
}

.sub-nav-toggle:hover .sub-nav {
  display: block;
}

.nav-arrow {
  position: absolute;
  top: 25px;
  left: 0;
  height: 9px;
  fill: #222222;
  transition: 0.1s;
}

.arrow-change {
  fill: #00c8c8;
  transition: 0.1s;
}

.nav-link {
  padding-bottom: 29px;
  position: relative;
  color: #222222;
  transition: 0.1s;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-toggle {
  border: 2px solid #333333;
  border-radius: 2px;
  display: none;
  position: relative;
  height: 40px;
  width: 40px;
  background-color: transparent;
}

.nav-toggle-icon {
  position: absolute;
  top: 15px;
  left: 2px;
  transition: 0.3s;
  height: 6px;
  width: 32px;
  background-color: #333333;
}

.nav-toggle-icon::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  height: 6px;
  width: 32px;
  background-color: #333333;
  transition: 0.5s;
}

.nav-toggle-icon::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  height: 6px;
  width: 32px;
  background-color: #333333;
  transition: 0.5s;
}

.color-change {
  background-color: #fff;
  transition: 0.3s;
}

.logo-padding {
  padding-top: 10px;
}

.header-padding {
  padding: 18px 0 0 0;
  transition: 0.3s;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    position: fixed;
  }
  .nav-toggle-active {
    background-color: transparent;
    transition: 0.3s;
  }
  .nav-toggle-active::after {
    transform: rotate(45deg);
    top: 0;
    transition: 0.5s;
  }
  .nav-toggle-active::before {
    transform: rotate(-45deg);
    top: 0;
    transition: 0.5s;
  }
  .nav-arrow {
    z-index: 1;
    top: 14px;
    left: 82%;
  }
  .navigation {
    padding-right: 0;
    padding-top: 110px;
    text-align: right;
    position: absolute;
    top: 0;
    right: -40%;
    width: 40%;
    height: 100vh;
    background-color: #fff;
    transition: 0.3s;
  }
  .nav-show {
    right: 0;
  }
  .nav-item {
    margin: 10px 0;
    display: block;
  }
  .nav-item:hover {
    background-color: #00c8c8;
  }
  .nav-item:hover .nav-link {
    color: #222222;
  }
  .nav-item:hover .nav-arrow {
    fill: #222222;
  }
  .sub-nav-show {
    display: block;
  }
  .nav-link {
    z-index: 2;
    display: block;
    padding-bottom: 0;
    padding: 10px 27px;
    padding-right: 72px;
  }
  .nav-toggle {
    float: right;
    margin-top: -11px;
    display: block;
  }
  .sub-nav {
    background-color: #fff;
    position: relative;
    box-shadow: none;
    width: 100%;
    padding: 0;
  }
  .sub-nav-sale {
    display: none;
  }
  .casuals, .formal {
    display: block;
    width: 100%;
  }
  .sub-list {
    display: none;
  }
  .sub-list-show {
    display: block;
  }
  .sub-title {
    padding: 10px 27px;
    padding-right: 72px;
  }
  .sub-title:hover {
    color: #00c8c8;
  }
  .sub-list {
    padding-right: 72px;
    padding-top: 20px;
  }
  .header-padding {
    padding: 18px 0 8px 0;
  }
  .logo-padding {
    padding-top: 5px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .nav-toggle-active {
    background-color: transparent;
    transition: 0.3s;
  }
  .nav-toggle-active::after {
    transform: rotate(45deg);
    top: 0;
    transition: 0.5s;
  }
  .nav-toggle-active::before {
    transform: rotate(-45deg);
    top: 0;
    transition: 0.5s;
  }
  .sign-in, .register {
    margin: 0;
  }
  .cart-button {
    padding: 13px 10px 14px 36px;
  }
  .cart-basket {
    left: 9px;
  }
  .cart-arrow {
    display: none;
  }
  .header {
    position: fixed;
  }
  .nav-arrow {
    z-index: 1;
    top: 14px;
    left: 82%;
  }
  .navigation {
    padding-right: 0;
    padding-top: 110px;
    text-align: right;
    position: absolute;
    top: 0;
    right: -70%;
    width: 70%;
    height: 100vh;
    background-color: #fff;
    transition: 0.3s;
  }
  .nav-show {
    right: 0;
  }
  .nav-item {
    margin: 10px 0;
    display: block;
  }
  .nav-item:hover {
    background-color: #00c8c8;
  }
  .nav-item:hover .nav-link {
    color: #222222;
  }
  .nav-item:hover .nav-arrow {
    fill: #222222;
  }
  .sub-nav-show {
    display: block;
  }
  .nav-link {
    z-index: 2;
    display: block;
    padding-bottom: 0;
    padding: 10px 27px;
    padding-right: 72px;
  }
  .nav-toggle {
    float: right;
    margin-top: -11px;
    display: block;
  }
  .sub-nav {
    background-color: #fff;
    position: relative;
    box-shadow: none;
    width: 100%;
    padding: 0;
  }
  .sub-nav-sale {
    display: none;
  }
  .casuals, .formal {
    display: block;
    width: 100%;
  }
  .sub-list {
    display: none;
  }
  .sub-list-show {
    display: block;
  }
  .sub-title {
    padding: 10px 27px;
    padding-right: 72px;
  }
  .sub-title:hover {
    color: #00c8c8;
  }
  .sub-list {
    padding-right: 72px;
    padding-top: 20px;
  }
  .header-padding {
    padding: 18px 0 8px 0;
  }
  .logo-padding {
    padding-top: 5px;
  }
}

.footer .wrapper {
  max-width: 1220px;
}

.footer-top {
  padding-top: 60px;
  padding-bottom: 56px;
}

.footer-lists {
  padding-bottom: 55px;
  font-size: 0;
}

.fdiv {
  display: inline-block;
  vertical-align: top;
  width: 20%;
}

.list-title {
  padding-bottom: 22px;
  display: block;
  color: #575153;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
}

.footer-li-item {
  padding: 6px 0;
  display: block;
}

.footer-link {
  color: #727272;
  transition: 0.3s;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none;
}

.footer-link:hover {
  color: #00c8c8;
  transition: 0.3s;
}

.footer-adress {
  padding-bottom: 20px;
  width: 91%;
  color: #727272;
  font-size: 14px;
  line-height: 23px;
  font-weight: 300;
}

.footer-phone {
  padding-bottom: 10px;
}

.footer-phone, .footer-email {
  color: #575153;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

.footer-phone-link, .footer-email-link {
  text-decoration: none;
  color: #575153;
  transition: 0.3s;
}

.footer-phone-link:hover, .footer-email-link:hover {
  color: #00c8c8;
  transition: 0.3s;
}

.footer-banners {
  font-size: 0;
}

.award-banner {
  float: left;
  padding: 52px 0px;
  background-color: #333333;
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}

.social-banner {
  position: relative;
  float: right;
  padding: 84px 0px;
  background-color: #00c8c8;
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}

.award-text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1px;
  font-weight: 400;
}

.award-text .award-span {
  font-weight: 600;
}

.social-banner-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 0;
}

.social-li {
  padding: 0 27px;
  display: inline-block;
  vertical-align: middle;
}

.social-link {
  display: inline-block;
  opacity: 1;
  transition: 0.3s;
}

.social-link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.social-link svg {
  height: 32px;
  fill: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-lists {
    text-align: center;
  }
  .fdiv {
    width: 25%;
  }
  .contact {
    padding-top: 15px;
  }
  .award-banner, .social-banner {
    float: none;
    display: block;
    width: 100%;
  }
  .social-banner {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer-lists {
    text-align: center;
  }
  .fdiv {
    width: 100%;
    padding-bottom: 25px;
  }
  .award-banner, .social-banner {
    float: none;
    display: block;
    width: 100%;
  }
  .social-banner {
    margin-top: 20px;
  }
  .social-li {
    width: 50%;
    padding: 20px;
  }
}

.footer-bottom {
  padding: 13px 0;
  background-color: #333333;
}

.copyright-span {
  color: #9a9a9a;
  display: inline-block;
  float: left;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.developer {
  padding-left: 35px;
}

.developer, .designer {
  color: #777777;
  display: inline-block;
  float: right;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.developer-link, .designer-link {
  text-decoration: none;
  color: #777777;
  transition: 0.3s;
}

.developer-link:hover, .designer-link:hover {
  color: #00c8c8;
  transition: 0.3s;
}

@media only screen and (min-width: 120px) and (max-width: 767px) {
  .copyright {
    text-align: center;
  }
  .developer {
    padding-left: 0;
  }
  .copyright-span,
  .designer,
  .developer {
    display: block;
    float: none;
    padding-bottom: 5px;
  }
}
/*# sourceMappingURL=style.css.map */