$white: #fff;
$black: #000;
$font: 'Montserrat';
$font2: 'Roboto';

$dark-gray: #222222;
$egg-blue: #00c8c8;
$don-juan: #575153;
$dove-gray: #727272;
$mine-shaft: #333333;
$abbey: #454647;
$dusty-gray: #9a9a9a;
$boulder: #777777;